<h1>Component communication</h1>

<div class="container">
  <h2>Parent To child</h2>
  <p><button type="button" class="btn btn-outline-warning" (click)="toIncrease()">Increament</button></p>
  <p><button type="button" class="btn btn-outline-warning" (click)="toDecrease()">Decrement</button></p>
  <br>
  <div>
    <!-- <h2>Child component control Value :{{count}}</h2> -->
    <!-- <p></p> -->
  </div>
  <h3>Value :{{count}}</h3>
</div>
<app-child [changedValue]="count"></app-child>
<app-grand  [changedValue]="count"></app-grand>
<app-c2p></app-c2p>